arrow==0.17.0
asgiref==3.3.4
cassiopeia==5.0.1
certifi==2020.12.5
chardet==4.0.0
datapipelines==1.0.7
Deprecated==1.2.13
Django==3.2
django-active-link==0.1.8
django-cassiopeia==2.1.1
django-redis==5.0.0
hashring==1.5.1
hiredis==2.0.0
idna==2.10
lz4==3.1.10
memcache==0.10.0
merakicommons==1.0.10
networkx==2.6.3
numpy==1.20.2
pandas==1.2.4
Pillow==8.3.2
pymemcache==3.5.0
python-dateutil==2.8.1
pytz==2021.1
redis==4.0.2
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
wrapt==1.13.3
