{% extends "base.html" %}
{%load static%}

{% url 'summoner_home' as home_url %}
{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark row custom-nav-background mx-auto">
    <div class="container-fluid">
    <a class="navbar-brand text-center" href="#"><img src="{% static 'summoner/images/logo.svg' %}" alt="Jungle Diff" style="height: 45px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-center col mx-auto mx-lg-0 ">
          <li class="nav-item item-underline-container {% if request.path == home_url %} active {% endif %}">
            <a class="nav-link " aria-current="page" href="{{home_url}}">Home</a>
            <div class="item-hover-underline"></div>
        </li>
          <li class="nav-item item-underline-container {% if request.path == home_url %} active {% endif %}">
            <a class="nav-link" href="#">Link</a>
            <div class="item-hover-underline"></div>
          </li>
          <li class="nav-item item-underline-container {% if request.path == home_url %} active {% endif %}">
            <a class="nav-link" href="#">Link</a>
            <div class="item-hover-underline"></div>
          </li>
          <li class="nav-item item-underline-container {% if request.path == home_url %} active {% endif %}">
            <a class="nav-link" href="#">Link</a>
            <div class="item-hover-underline"></div>
          </li>
          
        </ul>
        <!-- UPDATE SEARCH WITH CODE-->
        
        <form class="d-flex ">
            <input class="form-control search-custom" type="search" placeholder="Name 1, Name 2, ..." aria-label="Search">
            <button class="btn btn-danger search-custom" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
</nav>
{% endblock navbar%}