{% for match in 0.match_history%}
<div id="{{match.id}}" class="match-card d-flex flex-column result-{% if match.match_info.win == 'WIN'%}WIN{%else%}LOSE{%endif%}  " data-game-id="{{match.id}}" data-victory-status="{{match.match_info.win}}">
    <div class="match-content d-flex justify-content-between px-4" style="font-size: 12px; width: 100%; ">
        <div class="match-info text-center d-flex align-items-center">
            <div>
                <div class="queue-type" style="font-weight: bold;">{{match.match_info.queue}}</div>
                <div class="time-delta"> {{match.match_info.creation}}</div>
                <div class="victory-status" style="font-weight: bold;">{{match.match_info.win}} {{match.match_info.duration}} </div>
            </div>
        </div>
        <div class="champion-info d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center">
                
                <div class="" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{match.summoner_info.champion.name}}"><img class="champ-icon" src="{{match.summoner_info.champion.image}}" alt="{{match.summoner_info.champion.name}}"></div>
                
                <div class="d-flex">
                    <div>
                    {% for spell in match.summoner_info.spells%}
                        <div tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{spell.name}}">
                            <img style="width: 20px; height: 20px;background-color: black; border-radius: 50%;" src="{{spell.image}}" alt="{{spell.name}}">
                        </div>
                    {%endfor%}
                    </div>
                    <div>
                    {% for tree in match.summoner_info.runes%}
                        <div tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{tree.name}}">
                            <img style="width: 20px; height: 20px;background-color: black; border-radius: 50%;" src="{{tree.image}}" alt="{{tree.name}}">
                        </div>
                    {%endfor%}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="player-stats d-flex flex-column text-center justify-content-center align-items-center my-1">
                <div>
                <div class="KDA" style="font-size: 20px;">{{match.summoner_info.KDA}}</div>
                <div class="KDA-ratio">{{match.summoner_info.kill_ratio}} KDA</div>
                
                </div>
                {% if match.summoner_info.multi_kill  %}
                <div class="multikill justify-content-center">{{match.summoner_info.multi_kill}}</div>
                {%endif%}
        </div>
        <div class="player-stats-continued d-flex flex-column text-center justify-content-center my-1">
                <div>
                    <div class="level">Level {{match.summoner_info.level}}</div>
                    <div class="creep-score"> {{match.summoner_info.cs}}CS ({{match.summoner_info.csm}})</div>
                    <div class="tier-division">Vision: {{match.summoner_info.vision_score}}</div>
                </div>
        </div>
        <div class="items d-flex align-items-center justify-content-between">
            <div class="item-container row" >
                {% for item in match.summoner_info.items%}
                    {% include "summoner/item_list.html" %}
                
                {% endfor %}
                
            </div>
            
            {% if match.summoner_info.trinket%} 
                <div data-id={{match.summoner_info.trinket.id}} class="item" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{match.summoner_info.trinket.name}}" style="margin:0px;">
                    <img  src="{{match.summoner_info.trinket.image}}" alt="{{match.summoner_info.trinket.name}}">
                </div>
            {%else%}
                <div class="item bg-secondary"></div>
            {%endif%} 
                 
            
        </div>
        <div class="participants d-flex align-items-center">
            {% for team_side, team in match.participants.items%}
            <div class="Team">
                <div class="player-list me-2">
                    {% for player, player_data in team.items%}
                        
                        <div class="d-flex align-items-center">
                            <div class=" player-list-champ-icon-container {%if player == 0.name%} isSummoner-player-list {% endif %} " tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{player_data.champion.name}}">
                                <img class="player-list-champ-icon" src="{{player_data.champion.image}}" alt="{{player_data.champion.name}}">
                            </div>
                            <!--id="{{player_data.id}}" class="player-list-name" data-player-name="{{player}}"  data-player-region='{{0.region}}'-->
                            <a class="player-list-name" href="/summoner/?username={{player}}&region={{0.region}}" >{{player}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="match-details-btn d-flex justify-content-center align-items-center" > 
            
                <button class="btn text-light" onclick="detailsExpand('{{match.id}}')"><i class="fas fa-angle-down" style="font-size: 2em;"></i></button>  
        </div>
    </div>
    <div class="loader" hidden></div>
</div>
{% endfor %}