<div hidden class="match-details ">
    <div class="game-table-wrapper result-{% if match.match_info.win == 'WIN'%}WIN{%else%}LOSE{%endif%}"> 
        {% for team in match.teams%}
        <div class="game-table">
            <table class="align-middle" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 127px;">{{team.0 }} team </th>
                        <th scope="col" style="width: 80px; padding: 4px; margin-left: 5px;">Level</th>
                        <th scope="col"  style="width: 65px;">KDA</th>
                        <th scope="col" class="text-center damage-bar">Damage</th>
                        <th scope="col" class="text-center">CS</th>
                        <th scope="col" class="text-center">Wards</th>
                        <th scope="col" class="items-col" style="width: 175px;">Items</th>
                    </tr>
                </thead>
                <tbody>
                {% for player, player_data in team.1.items%}
                <tr class=" {%if player == name%} isSummoner-match-details-container {% endif %} " >
                    <td>
                        <div class="d-flex">
                            <div class="d-flex  align-item-center justify-content-center {%if player == name%} isSummoner-player-list {% endif %}" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{player_data.champion.name}}">
                                <img style="width: 30px; height: 30px; border-radius: 50%;" src="{{player_data.champion.image}}" alt="{{player_data.champion.name}}">
                            </div>
                            <div class="d-flex">
                                <div>
                                {% for spell in player_data.spells%}
                                    <div style="width: 15px; height: 15px; margin: 0; background-color: black; border-radius: 50%;" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{spell.name}}">
                                        <img  style="width: 15px; height: 15px; margin: 0; background-color: black; border-radius: 50%;" src="{{spell.image}}" alt="{{spell.name}}">
                                    </div>
                                {%endfor%}
                                </div>
                                <div>
                                {% for tree in player_data.runes%}
                                    <div style="width: 15px; height: 15px; margin: 0; background-color: black; border-radius: 50%;" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{tree.name}}">
                                        <img style="width: 15px; height: 15px; margin: 0; background-color: black; border-radius: 50%;" src="{{tree.image}}" alt="{{tree.name}}">
                                    </div>
                                {%endfor%}
                                </div>
                            </div>
                            <div class="d-flex align-item-center justify-content-center me-3">
                                <a class="player-list-name my-auto" href="/summoner/?username={{player}}&region={{region}}" style="font-size: 12px; width: 65px;" >{{player}}</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <!-- <div>{{player_data.rank}} GRANDMASTER </div> -->
                        <div>Level: {{player_data.level}}</div>
                    </td>
                    <td>
                        <div class="KDA" style="font-size: 12px;">{{player_data.KDA}}</div>
                        <div class="KDA-ratio">{{player_data.kill_ratio}} KDA</div>
                    </td>
                    <td class="text-center damage-bar">
                        <div>{{player_data.damage}}</div>
                        <div class="mx-auto" style="width: 70%;">
                            <div class="meter orange nostripes">
                                <span style="width:{% widthratio player_data.damage_literal match.max_damage 100 %}%">
                                </span>
                                
                            </div>
                        </div> 
                    </td>
                    <td class="text-center">
                        <div>{{player_data.cs}}</div>
                        <div >({{player_data.csm}})</div>
                    </td>
                    <td>
                        <div class="text-center" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-html='true' data-bs-content="<p>Control wards: {{player_data.control_wards}}</p><p>Wards Placed: {{player_data.wards_placed}}</p><p>Wards Killed: {{player_data.wards_killed}}</p>">
                            <div >
                                {{player_data.control_wards}}
                            </div>
                            <div>{{player_data.wards_placed}}/{{player_data.wards_killed}}</div>
                        </div> 
                    </td>
                    <td class="items-col">
                        <div class="d-flex align-items-center " >
                            <div>
                                <div class="d-flex" >
                                    {% for item in player_data.items%}
                                        {% include "summoner/item_list.html" %}
                                    
                                    {% endfor %}
                                
                                </div>
                                
                            </div>
                            {% if player_data.trinket %} 
                                <div data-id={{player_data.trinket.id}} class="item" style="margin: 2px;"  tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{player_data.trinket.name}}" style="margin-left: 10px;">
                                <img  src="{{player_data.trinket.image}}" alt="{{player_data.trinket.name}}">
                                </div>
                            {%else%}
                                <div class="item bg-secondary"></div>
                            {%endif%} 
                        
                        </div>
                    </td>
                    
                </tr>
                {% endfor %}
                </tbody>           
            </table>
        </div>
        {% endfor %}
    </div>
</div>