{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container top top-buffer text-light">
    
    <!-- <h1>{{ api_request }}</h1> -->
    <main>
        


        <section id="Player-Info" data-puuid="{{0.puuid}}" data-continent="{{0.continent}}" data-name="{{0.name}}">
            <div class="container mt-4  d-flex justify-content-between">
                <div class="season-ranks d-flex">
                    
                </div>
                
            </div>
            
            <div class="container profile-container"> 
                
                <div class="player-profile-header"  >
                    
                    <div class="player-profile-container  text-center text-light mx-auto" >
                        
                        <div class="player-profile-icon">
                            <div class="d-flex  justify-content-center">
                                <div class="icon_banner " style="background-image: url( '{{ 0.leagues.SOLO.banner }}' );" ></div>
                                <div class="icon_border " style="background-image: url( '{{ 0.profile_icon_border }}' );" ></div>
                            </div>
                            <img class="player-profile-icon-img mx-auto"src="{{ 0.profile_icon }}" alt="profile icon">
                            <div class="level-container mx-auto">{{ 0.level }}</div>
                        </div>
                            
                        <div class="player-profile-name">
                            {{ 0.name }}
                        </div>
                    </div>
                    
                    <div class=" container player-info-container d-flex  bg-dark mx-auto py-4  "style="">
                        <button class="update-btn btn btn-sm text-light">UPDATE</button>
                        <button class="live-btn btn btn-sm text-light">LIVE</button>
                        <div class="container d-flex" >
                            <div class="info-left d-flex  align-items-center col-6 p-4" style="background-color: black; border-radius: 50px 0 0 50px;" >
                                {% for league, entries in 0.leagues.items%}
                                    
                                    <div class="me-3 text-center">
                                        
                                        <div class="league-icon"><img src="{{ entries.icon }}" alt="{{entries.rank}}"></div> 
                                    </div>
                                    <div class="me-3 text-left" style="min-width: 130px;">
                                        <div class="rank-name">{{league}}Q</div>
                                        <div class="text-left" style="font-size: 1em;">
                                            <span class="rank-value">{{entries.rank}} </span>
                                            {% if entries.lp is not None %}
                                            <span style="font-size: .9em;">{{entries.lp}}</span><span style="font-size: .7em;">LP</span>
                                            {% endif %}
                                        </div>
                                        <div class="text-left" style="font-size: 15px;">
                                            {% if entries.lp is not None %} 
                                            {{ entries.wins }}<span style="font-size: .7em;">W</span> 
                                            {{ entries.losses }}<span style="font-size: .7em;">L</span> 
                                            {% endif %}
                                        </div>
                                        <div class="text-left" style="font-size: 15px;">
                                            {% if entries.lp is not None %} 
                                            {% if entries.promos.played %}
                                                Series:
                                                {% for win in entries.promos.played %}
                                                    {% if win%}
                                                        <span style="font-size: .7em; color: rgb(210, 255, 143);"><i class="fas fa-check"></i></span> 
                                                    {% else %}
                                                        <span style="font-size: .7em; color: rgb(252, 94, 94);"><i class="fas fa-times"></i></span> 
                                                    {% endif %}
                                                {% endfor %}
                                                {% for i in entries.promos.not_played %}
                                                    <span style="font-size: .7em; color: grey;"><i class="far fa-circle"></i></span> 
                                                    
                                                {% endfor %}
                                            
                                            {% else %}
                                                Win Ratio: {{ entries.WR }}<span style="font-size: .7em;">%</span> 
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                    
                                {% endfor %}
                                
                            </div>
                            
                            <div class="info-right  mx-4  col-6 container d-flex" style="padding-left: 60px;" >
                                <div class="ms-3 col-6 d-flex">
                                    <div class=" ">
                                        <div style="width: 100px; height: 100px; border: 20px solid gray; border-radius: 100%;"></div>
                                    </div>
                                    <div class="ms-3">
                                        <div style="width: 150px; height: 100px; background-color: rgb(31, 31, 31);"></div>
                                    </div>
                                </div>
                                <div class="ms-3 text-center col-4" >
                                    <div class="role-name">Preferred Role</div>
                                    <div class="league-icon"><img src="{% static 'images/top_lane.png' %}" alt="gold 1"></i></div>
                                    <div class="role-value">TOP</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="Game-Info">
            <div class="container-fluid" style="z-index: -1; position: relative; top: -70px; border-top: 2px solid rgba(255, 255, 255, 0.158);">
            </div>
            <!--GAME info-->
            <div class="container " style="max-width: 1200px;">
                <div class="row justify-content-between">
                    <!-- HISTORY SUMMARY-->
                    <div class="col-4 graphs bg-dark" style="margin-top: 150px; height: 200px;">
                    
                        
                        
                    </div>
                    <!-- MATCH LIST-->
                    <div class="col-8  match-container ">
                        <div class="header" > 
                            <div class="bg-dark" style="border-bottom: 1px solid rgba(255, 255, 255, 0.158); padding: 10px 10px 0 10px;">
                            TOTAL, NORMAL, RANKED SOLO, FLEX
                            </div>
                        </div>
                        <div id="match-history" >
                            {% include "summoner/match_card.html" %}
                        </div>
                        <div class="d-flex justify-content-center ">
                            <button id="loadMatches" class="btn btn-large btn-primary mt-4" onclick="loadMatchHistory()"> Load More</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    
</div>

{% endblock content %}